.wrapper {
    position: relative;
    display: inline-block;
}


.imageDiv {
  position: absolute;
  top: "-150px";
  left: "-60px";
  right: "0";
  z-index: 10;
  background-color: red;
}
.image {
  border: 1px solid #f1f5f9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
